@font-face {
  font-family: '29bukraRegular';
  src: url('assets/fonts/29ltbukraregular.ttf') format('truetype');
}
@font-face {
  font-family: '29bukraLight';
  src: url('assets/fonts/29ltbukralight.ttf') format('truetype');
}
@font-face {
  font-family: '29bukraBold';
  src: url('assets/fonts/29ltbukrabold.ttf') format('truetype');
}
@font-face {
  font-family: 'DancingScript-Bold';
  src: url('assets/fonts/DancingScript-Bold.ttf') format('truetype');
}
.row {
  clear: both;
}
* {
  font-family: '29bukraLight';
}
h1 {
  font-family: '29bukraBold';
}
p {
  line-height: 2em;
}
body,
html {
  width: 100vw;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
.contact-us-bar {
  position: fixed;
  display: none;
  justify-content: space-between;
  bottom: 0px;
  z-index: 200;
  width: 100%;
  height: 60px;
  text-align: center;
  transform: all 0.3s ease-in;
}
@media (max-width: 992px) {
  .contact-us-bar {
    display: flex;
  }
}
.contact-us-bar a {
  font-size: 30px;
  height: 50px;
  width: 50px;
  color: #fff;
  margin-right: 10px;
  transform: translateY(-20px);
  cursor: pointer;
  box-shadow: 0 0 0 #fff;
  display: flex;
  border: 2px solid #fff;
  border-radius: 50%;
  flex-direction: column;
  text-decoration: none;
  background-color: #00cc00;
  animation: pulse 1s infinite;
  animation-name: pulse;
}
.contact-us-bar a#go-to-fill-form {
  margin-left: 30px;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 50%, #f7ce68 100%);
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
.contact-us-bar a svg {
  fill: #fff;
  width: 60%;
  height: 60%;
  margin: auto;
}
.contact-us-bar a.last-link {
  border-right: none;
}
.contact-us-bar a i {
  font-size: 40px;
  opacity: 1;
  color: #fff;
  margin: auto;
}
#header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#header .header-social {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 20px;
  transform: translateY(-50%);
  z-index: 2;
  height: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
#header .header-social hr {
  transform: rotateY(90deg);
  width: 2000px;
}
#header .header-social a {
  width: 20px;
}
#header .header-social a svg {
  width: 20px;
  height: auto;
}
#header .header-logo {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
  width: 100%;
  height: 80px;
}
#header .header-logo .call-us {
  float: right;
  width: 300px;
  margin-right: 80px;
}
#header .header-logo .call-us img {
  width: 100%;
  height: auto;
}
#header .header-logo .call-us svg {
  width: 250px;
  height: auto;
  margin-right: 10px;
}
#header .header-logo .call-us .call-us-number p {
  margin: 0;
  color: #fff;
  font-size: 0.8em;
}
#header .header-logo img {
  width: 80px;
  height: auto;
}
#header .header-video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#header .header-video video {
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}
#first-section {
  position: relative;
  width: 100%;
  height: auto;
}
#first-section .first-section-each {
  width: 100%;
  height: auto;
}
#first-section .first-section-each .each {
  display: flex;
  width: 50%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#first-section .first-section-each .each .text-inner {
  margin: auto;
  padding: 50px 100px;
  text-align: right;
}
#first-section .first-section-each .each .text-inner h1 {
  position: relative;
}
#first-section .first-section-each .each .text-inner h1::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -30px;
  top: 3px;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
#first-section .first-section-each .each .text-inner .offers {
  display: flex;
  max-width: 100%;
}
#first-section .first-section-each .each .text-inner .offers h2 {
  font-family: '29bukraBold';
  font-size: 1.4em;
  text-align: center;
  display: inline;
  margin: auto;
  border-right: 2px solid #FBAB7E;
  display: table;
  padding: 10px 10px;
  background-color: #fff;
  transform: translateY(20px);
  background: linear-gradient(62deg, #fbab7e 0%, #f7ce68 50%, #f7ce68 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#first-section .first-section-each .each .text-inner .offers h2:first-child {
  border-left: 2px solid #FBAB7E;
}
#first-section .first-section-each .each.left {
  float: left;
}
#first-section .first-section-each .each.right {
  float: right;
}
#first-section .first-section-each .each.image-1 {
  background-image: url("http://res.cloudinary.com/cayangroup9292/image/upload/c_scale,w_960/v1533370635/04.jpg");
}
#first-section .first-section-each .each.image-2 {
  background-image: url("https://res.cloudinary.com/dd5e5iszi/image/upload/c_scale,q_auto:eco,w_1200/v1522439399/projects/cayan-11/8.jpg");
}
#first-section .first-section-each .each.image-3 {
  background-image: url("https://res.cloudinary.com/dd5e5iszi/image/upload/c_scale,q_auto:eco,w_1200/v1532622541/projects/cayan-148/5.jpg");
}
#first-section .first-section-each .each.text {
  background-image: url("https://res.cloudinary.com/dd5e5iszi/image/upload/c_scale,q_auto:eco,w_1200/v1533036719/landing-page/polygon.jpg");
}
#new-life {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url("https://res.cloudinary.com/dd5e5iszi/image/upload/v1533038134/projects/cayan-107/14.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#new-life .new-life-text {
  margin: auto;
  color: #fff;
  text-align: center;
}
#new-life .new-life-text svg {
  stroke-width: 2;
  width: 90%;
  margin: auto;
}
#new-life .new-life-text svg.play-svg {
  fill-opacity: 0;
  fill: #fff;
  stroke-dasharray: 1200px;
  stroke-dashoffset: 1200px;
  animation-name: draw;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 1200px;
    fill-opacity: 0;
  }
  50% {
    stroke-dashoffset: 600pxs;
    fill-opacity: 0.5;
  }
  100% {
    stroke-dashoffset: 0px;
    fill-opacity: 1;
  }
}
#new-life .new-life-text h1 {
  font-size: 5em;
  font-family: 'DancingScript-Bold';
}
#clouds {
  height: 120vh;
  width: 100%;
  position: relative;
  background-image: url("https://res.cloudinary.com/dd5e5iszi/image/upload/v1533038545/landing-page/above-atmosphere-clouds-37728.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#clouds::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
#clouds img {
  position: absolute;
  top: -400px;
  left: 0;
  width: 100%;
  z-index: 3;
}
#clouds .clouds-text {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 3;
}
#clouds .clouds-text .clouds-text-each {
  margin-top: 400px;
  text-align: right;
  width: 30%;
  display: inline-block;
  position: relative;
  color: #fff;
}
#clouds .clouds-text .clouds-text-each.second1 {
  transform: translateY(200px);
}
#clouds .clouds-text .clouds-text-each.second1 svg {
  transform: translate(220px, -380px);
}
#clouds .clouds-text .clouds-text-each svg {
  position: absolute;
  right: 0;
  transform: translate(220px, -180px);
}
#clouds .clouds-text .clouds-text-each .text h2 {
  font-family: '29bukraRegular';
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  line-break: 2em;
  position: relative;
}
#clouds .clouds-text .clouds-text-each .text h2::before {
  content: "01";
  position: absolute;
  right: -50px;
  top: -10px;
  font-size: 1.5em;
  padding: 0 0 3px 0;
  border-bottom: 3px solid #fff;
}
#clouds .clouds-text .clouds-text-each .text h2.second-h2::before {
  content: "02";
}
#clouds .clouds-text .clouds-text-each .text h2.third-h2::before {
  content: "03";
}
#clouds .clouds-text .clouds-text-each .text p {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  line-height: 1.5em;
}
.apartments {
  position: relative;
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.apartments::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://res.cloudinary.com/dd5e5iszi/image/upload/v1533038545/landing-page/above-atmosphere-clouds-37728.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateZ(180deg);
}
.apartments .apartments-each {
  width: 400px;
  height: 700px;
  position: relative;
  z-index: 4;
  top: -100px;
  margin: auto;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 50%, #f7ce68 100%);
  box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.1);
}
.apartments .apartments-each::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 97%;
  background: #fff;
  z-index: 3;
  top: 1.5%;
  left: 2.5%;
  margin: auto;
}
.apartments .apartments-each .apartments-image {
  position: relative;
  z-index: 4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  left: 2.5%;
  top: -5px;
  height: 400px;
}
.apartments .apartments-each .apartments-image.first {
  background-image: url('https://res.cloudinary.com/dd5e5iszi/image/upload/v1533046748/projects/cayan-107/interior/Mer_0012.jpg');
}
.apartments .apartments-each .apartments-image.second {
  background-image: url('https://res.cloudinary.com/dd5e5iszi/image/upload/v1533047733/projects/cayan-107/interior/Mer_0014.jpg');
}
.apartments .apartments-each .apartments-image.third {
  background-image: url('https://res.cloudinary.com/dd5e5iszi/image/upload/v1525096327/projects/cayan-107/interior/2.jpg');
}
.apartments .apartments-each .apartments-image p {
  color: #fff;
  border-bottom: 1px solid #fff;
  display: table;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 1.2em;
}
.apartments .apartments-each .apartments-text {
  height: 300px;
  position: relative;
  z-index: 4;
  left: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.apartments .apartments-each .apartments-text .area {
  margin: auto;
  width: 100%;
}
.apartments .apartments-each .apartments-text .area .number {
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 50%, #f7ce68 100%);
  padding: 3px;
  width: 180px;
  display: inline-block;
}
.apartments .apartments-each .apartments-text .area .number p {
  width: 100%;
  position: relative;
  font-size: 1.3em;
  font-weight: 800;
  background-color: #fff;
  color: #222222;
  letter-spacing: 0.1em;
  margin: 0;
  font-family: '29bukraRegular';
}
.apartments .apartments-each .apartments-text .area .number p::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 90%;
  background: #fff;
  z-index: 0;
  top: 5%;
  right: -12px;
  margin: auto;
}
.apartments .apartments-each .apartments-text .area p {
  display: inline-block;
  margin-left: 10px;
}
.apartments .apartments-each .apartments-text .price {
  position: relative;
  bottom: 30px;
  margin: auto;
  text-align: center;
}
.apartments .apartments-each .apartments-text .price h2 {
  border-radius: 5px;
  padding: 10px 20px;
  margin: auto;
  display: table;
  color: #fff;
  letter-spacing: 0.5em;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
#new-life-2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dd5e5iszi/image/upload/v1533047747/projects/cayan-107/interior/mid_0015.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
#new-life-2 .text {
  box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 500px;
  bottom: 10%;
  left: 10%;
  background: none;
  text-align: right;
  padding: 20px 25px;
  border: 5px solid #FBAB7E;
}
#new-life-2 .text::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 90%;
  background: #fff;
  z-index: 0;
  top: 5%;
  left: 2.5%;
  margin: auto;
}
#new-life-2 .text h2 {
  font-family: '29bukraBold';
  position: relative;
  z-index: 3;
}
#new-life-2 .text p {
  position: relative;
  z-index: 3;
}
#cayan {
  position: relative;
  background-image: url("https://res.cloudinary.com/dd5e5iszi/image/upload/v1533048543/projects/cayan-107/27.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
#cayan::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
#cayan .logo {
  margin: auto;
  width: 50%;
  text-align: center;
  position: relative;
  z-index: 2;
}
#cayan .text {
  margin: auto;
  width: 50%;
  text-align: right;
  padding-right: 100px;
  color: #fff;
  position: relative;
  z-index: 2;
}
#cayan .text h1 {
  display: table;
  padding: 10px;
  float: right;
  font-size: 2.3em;
  border-bottom: 5px solid #FBAB7E;
  border-right: 5px solid #FBAB7E;
}
#cayan .text p {
  float: right;
  padding: 0 0 0 300px;
}
#cayan .text .button {
  margin: auto;
  color: #fff;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 10px 40px;
  float: right;
  bottom: 0;
  z-index: 100;
  right: 0;
}
#cayan .text .button a {
  color: #fff;
  text-decoration: none;
}
#contact {
  background-image: url("https://res.cloudinary.com/dd5e5iszi/image/upload/v1533036719/landing-page/polygon.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#contact .image {
  width: 60%;
  height: 100%;
  position: relative;
}
#contact .image img {
  height: 80%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 10%;
}
#contact .image .fadi-talk {
  position: absolute;
  right: 10%;
  width: 50%;
  text-align: center;
  top: 20%;
  background-color: #fff;
  border-radius: 40px 40px 40px 0;
  box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}
#contact .image .fadi-talk.fadi-talk2 {
  top: 35%;
}
#contact .image .fadi-talk.fadi-talk3 {
  top: 50%;
}
#contact .form {
  width: 600px;
  height: 700px;
  position: relative;
  right: 100px;
  background-image: url('https://res.cloudinary.com/dd5e5iszi/image/upload/v1533050383/landing-page/Group_2.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
#contact .form form {
  background-color: #fff;
  width: 90%;
  height: 78%;
  margin: auto;
  position: relative;
  top: 55px;
  text-align: center;
}
#contact .form form h2 {
  display: none;
}
#contact .form form .input-wrapper {
  width: 100%;
  margin-right: 10px;
  text-align: right;
}
#contact .form form .input-wrapper .each-input {
  transform: translate(-20px, 10px);
  width: 100%;
  margin-top: 30px;
  margin-right: 100px;
}
#contact .form form .input-wrapper .each-input input {
  height: 30px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #222222;
  font-size: 1.2em;
  text-align: right;
  direction: rtl;
}
#contact .form form .input-wrapper .each-input select {
  padding: 10px;
  width: 80%;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: none;
  border-radius: 0;
  border-bottom: 1px solid #222222;
  text-align: right;
  direction: rtl;
}
#contact .form form button {
  margin: auto;
  color: #fff;
  border: none;
  padding: 10px 40px;
  font-family: '29bukraRegular';
  font-size: 1.2em;
  transform: translateY(50px);
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 50%, #f7ce68 100%);
}
#contact .form form .contact-whatsapp {
  transform: translateY(50px);
  display: none;
}
#contact .form form .contact-whatsapp svg {
  width: 50px;
  height: 50px;
}
#contact .form form .contact-whatsapp a {
  text-decoration: none;
  font-family: '29bukraBold';
}
@media (max-width: 992px) {
  #header {
    height: auto;
    min-height: 100% !important;
  }
  #header .header-social {
    display: none;
  }
  #header .header-logo {
    height: 30px;
    width: 30px;
  }
  #header .header-logo .call-us {
    display: none;
  }
  #header .header-logo img {
    width: 30px;
  }
  #header .header-video {
    position: relative;
    min-width: 100% !important;
  }
  #header .header-video video {
    max-width: 100%;
    transform: translateY(0px);
  }
  #first-section {
    transform: translateY(-5px);
  }
  #first-section .first-section-each .each {
    float: none;
    width: 100%;
    height: 600px;
    padding: 0px;
  }
  #first-section .first-section-each .each.image {
    height: 200px;
  }
  #first-section .first-section-each .each.left,
  #first-section .first-section-each .each.right {
    float: none;
  }
  #first-section .first-section-each .each .text-inner {
    padding: 0px;
    max-width: 100%;
  }
  #first-section .first-section-each .each .text-inner h1 {
    transform: translateX(-45px);
  }
  #first-section .first-section-each .each .text-inner p {
    width: 95%;
    line-height: 1.5em;
  }
  #new-life {
    min-height: 50vh;
    transform: translateY(-5px);
    position: relative;
  }
  #new-life::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  #new-life .new-life-text svg {
    transform: translateY(-30px);
    width: 100%;
    height: 80px;
  }
  #new-life .new-life-text h1 {
    font-size: 2em;
  }
  #clouds {
    height: 100vh;
    transform: translateY(-5px);
  }
  #clouds img {
    top: -100px;
  }
  #clouds .clouds-text {
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(20px);
  }
  #clouds .clouds-text .clouds-text-each {
    margin-top: 0;
    width: 100%;
  }
  #clouds .clouds-text .clouds-text-each.second1 {
    transform: translateY(0px);
  }
  #clouds .clouds-text .clouds-text-each .text {
    padding: 0 5px;
  }
  #clouds .clouds-text .clouds-text-each .text h2 {
    transform: translateX(-60px);
  }
  #clouds .clouds-text .clouds-text-each .text p {
    width: 95%;
    font-size: 0.9em;
  }
  #clouds .clouds-text .clouds-text-each svg {
    display: none;
  }
  .apartments {
    flex-direction: column;
    transform: translateY(-5px);
  }
  .apartments .apartments-each {
    width: 100%;
    top: 0;
  }
  #new-life-2 {
    height: 70vh;
  }
  #new-life-2 .text {
    box-sizing: border-box;
    max-width: 100%;
    left: 0;
    padding: 0;
  }
  #new-life-2 .text h2 {
    font-size: 1em;
    transform: translateX(-20px);
  }
  #new-life-2 .text p {
    font-size: 0.9em;
    width: 95%;
    line-height: 2em;
    padding: 0 5px;
  }
  #cayan {
    flex-direction: column;
    padding-top: 20px;
    height: 120vh;
  }
  #cayan .logo {
    width: 50%;
  }
  #cayan .logo img {
    max-width: 100%;
  }
  #cayan .text {
    padding-right: 0;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  #cayan .text h1 {
    font-size: 1.8em;
    border-right: 0;
    float: none;
    margin: auto;
  }
  #cayan .text p {
    float: none;
    padding: 10px;
    text-align: right;
  }
  #cayan .text .button {
    margin: auto;
    color: #fff;
    float: none;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 10px 20px;
  }
  #cayan .text .button a {
    color: #fff;
    text-decoration: none;
  }
  #contact {
    height: auto;
    flex-direction: column-reverse;
  }
  #contact .image {
    display: none;
    width: 100%;
  }
  #contact .form {
    width: 100%;
    right: 0px;
    background: none;
    height: 580px;
  }
  #contact .form form {
    height: 100%;
    top: 10px;
    border: 5px solid #FBAB7E;
  }
  #contact .form form h2 {
    display: block;
    font-family: "29bukraBold";
  }
  #contact .form form .input-wrapper .each-input label {
    font-size: 0.9em;
  }
  #contact .form form button {
    font-size: 0.9em;
    transform: translateY(30px);
  }
  #contact .form form .contact-whatsapp {
    transform: translateY(30px);
  }
  #contact .form form .contact-whatsapp p {
    font-size: 0.9em;
  }
  #contact .form form .contact-whatsapp svg {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 995px) and (max-width: 1500px) {
  #first-section .each .text-inner {
    padding: 10px 0px;
  }
  #first-section .each .text-inner p {
    font-size: 0.9em;
  }
  #clouds img {
    top: -200px;
  }
  #clouds .clouds-text .clouds-text-each.second1 {
    transform: translateY(220px);
  }
  #clouds .clouds-text .clouds-text-each.second1 svg {
    transform: translate(320px, -380px);
  }
  #clouds .clouds-text .clouds-text-each svg {
    transform: translate(320px, -180px);
  }
  #clouds .clouds-text .clouds-text-each .text p {
    font-size: 0.9em;
  }
  .apartments .apartments-each {
    top: -100px;
  }
  #cayan .text p {
    float: right;
    padding: 0 0 0 100px;
  }
  #contact {
    height: 90vh;
  }
  #contact .fadi-talk {
    display: none;
  }
  #contact .form form {
    height: 70%;
    top: 75px;
  }
  #contact .form form button {
    transform: translateY(30px);
    padding: 5px 20px;
    font-size: .8em;
  }
  #contact .form form .contact-whatsapp {
    transform: translateY(30px);
  }
  #contact .form form .contact-whatsapp p {
    font-size: 0.8em;
  }
  #contact .form form .contact-whatsapp svg {
    width: 20px;
    height: 20px;
  }
}
